.display{
    width: 98.5%;
    height: 72px;
    border: 1px solid #3c4043;
    border-radius: 8px;
    margin: auto;
    padding: 10px 14px 0 10px;
    box-sizing: border-box;
    font-size: large;
}
.operation{
    height: 20px;
    color: #969ba1;
    font-size: 16px;
}
.result{
    font-size: 18px;
    font-weight: bold;
}